body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://wallpaperaccess.com/full/6278179.jpg);
    font-family:  sans-serif;
    overflow: hidden;
}

h1{
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    background: white;
    color: black;
    
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background: white;
    color: black;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(0,0,0,0.3);
    
    
}
.clock .text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: gray;
    opacity: .8;
    background-size: cover;
}
.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background:gray ;
    color: white;
    opacity: 2;
}