body{
    margin: 0;
    background: linear-gradient(to left bottom,#F4DF4EFF,#949398FF);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    background: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    margin: 5px;
}

.heading{
    font-size: 2rem;
}

.input{
    padding: 10px 20px;
    font-size: 1.2rem;
    background: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
    margin: 10px;
}
.btn{
    background: #F4DF4EFF;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.btn:hover{
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    transition: all 300ms ease;
}
.info-text{
    font-size: 20px;
    font-weight: 600;
}